@import './base/normalize';
@import './utils/variables';
@import './utils/placeholder';
@import './components/common';
@import './components/logo';
@import './components/header';
@import './components/social';

@import './components/studio';
@import './components/studio__hero';
@import './components/studio__features';
@import './components/studio__work';
@import './components/studio__team';
@import './components/studio__clients';

@import './components/portfolio';
@import './components/portfolio__filters';
@import './components/portfolio__product';

@import './components/footer';
@import './components/footer__mailing';

/* 
--------------------------------------
------------СТРАНИЦА------------------
------------КОНТАКТЫ-----------------
 */

.google-map {
  display: block;
  width: 80%;
  height: 600px;
  border: 0;
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40%;
}

.contacts-section {
  display: block;
  width: 100%;
  text-align: center;
  background: var(--white-color);
}

.page-contacts__title {
  padding-bottom: var(--standart-50px);
}

/* модалка */
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: opacity var(--standart-timer) var(--standart-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-modal {
  position: relative;
  margin: auto;
  min-width: 528px;
  max-height: 90vh;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.modal-button-close {
  display: inline-flex;
  position: absolute;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  fill: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--standart-timer) var(--standart-timing-function),
    border-color var(--standart-timer) var(--standart-timing-function);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--active-link-color);
  border-color: var(--active-link-color);
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input,
.modal-label,
.modal-textarea {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
}

.modal-input,
.modal-label,
.modal-textarea,
.modal-form-icon {
  transition: fill var(--standart-timer) var(--standart-timing-function),
    border-color var(--standart-timer) var(--standart-timing-function),
    outline var(--standart-timer) var(--standart-timing-function),
    color var(--standart-timer) var(--standart-timing-function);
}

.modal-input:focus,
.modal-input:hover,
.modal-textarea:focus,
.modal-textarea:hover,
.modal-input:focus ~ .modal-form-icon,
.modal-input:hover ~ .modal-form-icon {
  fill: var(--active-link-color);
  color: var(--active-link-color);
  border-color: var(--active-link-color);
  outline: none;
}

.modal-label {
  padding-bottom: 4px;
  text-align: left;
  color: var(--secondary-text-color);
}

.modal-input {
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  margin-bottom: 10px;
}

.modal-textarea {
  width: 448px;
  min-width: 448px;
  max-width: 600px;

  height: 120px;
  min-height: 120px;
  max-height: 250px;
  color: var(--main-text-color);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal-textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.wrapper {
  position: relative;
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: currentColor;
  text-align: center;
  left: 12px;
  top: 11px;
  pointer-events: none;
}

.check-label {
  margin-bottom: var(--standart-30px);
}

.check-icon {
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 8.38px;
}

.check-icon use {
  display: none;
}

.check-input:checked + .check-icon {
  border: none;
}

.check-input:checked + .check-icon use {
  display: block;
}

.check-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.check-text a {
  color: var(--active-link-color);
  text-decoration: underline;
}

.modal-button-send {
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--active-link-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color var(--standart-timer)
    var(--standart-timing-function);
}

.modal-button-send:hover,
.modal-button-send:focus {
  background-color: var(--button-hover-color);
}
