@import './base/normalize';
@import './utils/variables';
@import './utils/placeholder';
@import './components/common';
@import './components/logo';
@import './components/header';
@import './components/social';

@import './components/studio';
@import './components/studio__hero';
@import './components/studio__features';
@import './components/studio__work';
@import './components/studio__team';
@import './components/studio__clients';

@import './components/footer';
@import './components/footer__mailing';

.section__portfolio {
  width: auto;
  padding: var(--standart-94px) var(--standart-15px);
  display: flex;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.filters {
  display: inline-flex;
  margin-bottom: var(--standart-50px);
}

.filters__button {
  background: var(--light-grey-color);
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  letter-spacing: 0.03em;
  height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  transition: color var(--standart-timer) var(--standart-timing-function),
    background var(--standart-timer) var(--standart-timing-function),
    box-shadow var(--standart-timer) var(--standart-timing-function);
}

.filters li {
  margin-right: 8px;
}

.filters li:last-child {
  margin-right: 0px;
}

.filters__button:hover,
.filters__button:focus {
  color: var(--white-color);
  background: var(--active-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-set {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--standart-30px));
  margin-top: calc(-1 * var(--standart-30px));
}

.product-content {
  padding: 20px 24px;
  display: block;
}

.product {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.product__description {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--white-color);
  transform: translateY(101%);
  opacity: 1;
  transition: transform var(--standart-timer) var(--standart-timing-function);
}

.portfolio-set__item {
  flex-basis: calc(100% / 3 - var(--standart-30px));
  margin-left: var(--standart-30px);
  margin-top: var(--standart-30px);

  text-align: left;
  background: var(--white-color);
  outline: 1px solid var(--border-color-outline);

  transition: box-shadow var(--standart-timer) var(--standart-timing-function);
}

.portfolio-item:hover,
.portfolio-item:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-description,
.portfolio-item:focus .portfolio-description {
  transform: translateY(0%);
}

.product-content__heading {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--main-text-color);
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.product-content__text {
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.875;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

/* 
--------------------------------------
------------СТРАНИЦА------------------
------------КОНТАКТЫ-----------------
 */

.google-map {
  display: block;
  width: 80%;
  height: 600px;
  border: 0;
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 40%;
}

.contacts-section {
  display: block;
  width: 100%;
  text-align: center;
  background: var(--white-color);
}

.page-contacts__title {
  padding-bottom: var(--standart-50px);
}

/* модалка */
.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: opacity var(--standart-timer) var(--standart-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-modal {
  position: relative;
  margin: auto;
  min-width: 528px;
  max-height: 90vh;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.modal-button-close {
  display: inline-flex;
  position: absolute;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  fill: currentColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill var(--standart-timer) var(--standart-timing-function),
    border-color var(--standart-timer) var(--standart-timing-function);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--active-link-color);
  border-color: var(--active-link-color);
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input,
.modal-label,
.modal-textarea {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.01em;
}

.modal-input,
.modal-label,
.modal-textarea,
.modal-form-icon {
  transition: fill var(--standart-timer) var(--standart-timing-function),
    border-color var(--standart-timer) var(--standart-timing-function),
    outline var(--standart-timer) var(--standart-timing-function),
    color var(--standart-timer) var(--standart-timing-function);
}

.modal-input:focus,
.modal-input:hover,
.modal-textarea:focus,
.modal-textarea:hover,
.modal-input:focus ~ .modal-form-icon,
.modal-input:hover ~ .modal-form-icon {
  fill: var(--active-link-color);
  color: var(--active-link-color);
  border-color: var(--active-link-color);
  outline: none;
}

.modal-label {
  padding-bottom: 4px;
  text-align: left;
  color: var(--secondary-text-color);
}

.modal-input {
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  margin-bottom: 10px;
}

.modal-textarea {
  width: 448px;
  min-width: 448px;
  max-width: 600px;

  height: 120px;
  min-height: 120px;
  max-height: 250px;
  color: var(--main-text-color);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal-textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.wrapper {
  position: relative;
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: currentColor;
  text-align: center;
  left: 12px;
  top: 11px;
  pointer-events: none;
}

.check-label {
  margin-bottom: var(--standart-30px);
}

.check-icon {
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 8.38px;
}

.check-icon use {
  display: none;
}

.check-input:checked + .check-icon {
  border: none;
}

.check-input:checked + .check-icon use {
  display: block;
}

.check-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.check-text a {
  color: var(--active-link-color);
  text-decoration: underline;
}

.modal-button-send {
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--active-link-color);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color var(--standart-timer)
    var(--standart-timing-function);
}

.modal-button-send:hover,
.modal-button-send:focus {
  background-color: var(--button-hover-color);
}
