.footer {
  min-height: 252px;
  color: var(--white-color);
  background: var(--secondary-background-color);

  &__container {
    padding: 60px var(--standart-15px);

    display: inline-flex;
    height: 100%;
    margin: auto;
    width: 100%;
  }
}

.footer-contacts {
  text-align: left;

  &__set {
    display: block;
  }

  &__link {
    display: block;
    padding-bottom: 9px;
  }

  &__link--map {
    color: var(--white-color);
  }

  &__link--contact {
    font-weight: normal;
    line-height: 1.71;
    color: var(--passive-link-color-footer);
  }
}

.made-by {
  margin: auto;
  display: inline-flexbox;
  text-align: center;
  color: var(--secondary-text-color);
}
