%blue-transition {
  color: var(--active-link-color);
  transition: color var(--standart-timer) var(--standart-timing-function);
}

%grey-transition {
  color: var(--active-link-color);
  transition: color var(--standart-timer) var(--standart-timing-function);
}

%standart-transition--color {
  transition: color var(--standart-timer) var(--standart-timing-function);
}

%standart-transition--background-color {
  transition: background-color var(--standart-timer)
    var(--standart-timing-function);
}

%standart-button {
  font-style: normal;
  font-size: 16px;
  transition: color var(--standart-timer) var(--standart-timing-function),
    background var(--standart-timer) var(--standart-timing-function),
    box-shadow var(--standart-timer) var(--standart-timing-function);
  cursor: pointer;
  display: block;
  font-family: inherit;
}